{% extends 'base.html.twig' %}

{% block title %}Conference {{ conference }}{% endblock %}

{% block body %}
    <h2>Welcome! Conference {{ conference }}</h2>
    {% if comments|length > 0 %}
        {% for comm in comments %}
            <h3>Comment {{ comm.id }} : {{ comm.text }}</h3>
            <h3>Author: {{ comm.author }}</h3>
            <small>Date: {{ comm.createdAt|format_datetime('medium', 'short') }}</small>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Next</a>
        {% endif %}
    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}

    <h2>Add your own feedback</h2>

    {{ form(comment_form) }}
{% endblock %}